.header {
    padding: 20px 0;
    background-color: #fff;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__profile {
        margin-left: auto;
        cursor: pointer;

        &-pic {
            width: 40px;
            fill: $grey-border;
            transition: 0.2s;

            svg {
                width: 40px;
            }

            &:hover {
                fill: darken($grey-border, 40);
            }
        }
    }
}